<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
  <h5>Your subscription will be renewed on <%= current_user.created_at + 1.years %></h5>
  <center><h6>Your random image feed for today</h6></center>
  <center>
    <img src="https://picsum.photos/200", width=400 ,height=400, style="border: 1px solid black; border-radius:10px;">
    <img src="https://loremflickr.com/320/240", width=530 ,height=430, style="border: 1px solid black; border-radius:10px;" />
  </center>
<% else %>
  <div class="jumbotron">
    <h2>Welcome to the Photo Management App!</h2>
    <p class="lead">
      You'll love managing your Photos with our application. Sign up!
    </p>
  </div>

  <div class="row">
    <div class="plans clearfix">
      <div class="card col-lg-3 col-lg-offset-3 plan">
        <h2>Premium Plan</h2>
        <div class="price pull-right">
          Price: ₹1000
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
      <div class="card col-lg-3 plan">
        <h2>Amaze Plan</h2>
        <div class="price pull-right">
          Price: ₹2000
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited projects</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>
  </div>
<% end %>
